body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:836px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:836px;
}
#u1 {
  position:absolute;
  left:2px;
  top:410px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:113px;
  width:334px;
  height:593px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:593px;
}
#u3 {
  position:absolute;
  left:2px;
  top:288px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:280px;
  top:140px;
  width:94px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:890px;
  top:0px;
  width:410px;
  height:836px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:836px;
}
#u6 {
  position:absolute;
  left:2px;
  top:410px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:930px;
  top:113px;
  width:334px;
  height:593px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:593px;
}
#u8 {
  position:absolute;
  left:2px;
  top:288px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:440px;
  top:0px;
  width:410px;
  height:836px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:836px;
}
#u10 {
  position:absolute;
  left:2px;
  top:410px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:480px;
  top:113px;
  width:334px;
  height:593px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:593px;
}
#u12 {
  position:absolute;
  left:2px;
  top:288px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:40px;
  top:130px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:40px;
  top:180px;
  width:334px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:540px;
  top:330px;
  width:210px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:500px;
  top:846px;
  width:200px;
  height:100px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
